#header{
    background-color: #1d1d1d;
    margin-left: 33px;
    margin-right: 33px;
}
#menubar{
    background-color: #2d2d2d;
}
h2{
    color: #b18f85;
}
#menubar{
    float: right;
}
#menubar ul li{
    float: right;
    list-style-type:none;
    text-decoration: none;
}
.clear-both{
    clear:both;
    padding:0px;
    margin:0px;
    height:0px;
    width:100%;
    background-color: transparent;
}