#header{
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 8px;
}
#logo{
    float: left;
}
@media only screen and (min-width: 350px) {
    
}
@media only screen and (min-width: 1000px) {

}