#header{
    padding-top: 16px;
    padding-left: 24px;
    float: left;
    width: 95%;
}
#logo{
    float: left;
}
a{
    text-decoration: none;
}
#header a{
    float: right;
}

#inicio, #inicio:visited{
    padding-left: 17px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 17px;
    color: white;
    background-color: #0097fb;
    border-radius: 5px;
}
#registro, #registro:visited{
    color: #0097fb;
    padding-left: 17px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 17px;
}
#separador{
    margin-top: 16px;
    background-color: #9b948e;
    float: left;
    height: 1px;
    width: 100%;
    clear: left;
}
#rosaliaico{
    float: left;
    width: 40px;
    padding-top: 10px;
    padding-left: 10px;
}
#menu{
    float: right;
    width: 42px;
    padding-top: 10px;
}

#cuenta{
    float: left;
    margin-top: 7px;
    margin-left: 10px;
}

#seguir{
    color: blue;
}

#usuario{
    float: left;
    width: 100%;
}

#fotoRosalia{
    padding-top: 10px;
    float: left;
    width: 100%;
}

#fotoRosalia img{
    width: 100%;
}

.icono{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.iconiz{
    float: left;
}

.iconde{
    float: right;
}

#iconos{
    float: left;
    clear: left;
    width: 100%;
}

#gusta{
    float: left;
    clear: left;
    margin-top: 10px;
    margin-left: 10px;
}

#fecha{
    float: left;
    clear: left;
    margin-top: 10px;
    margin-left: 10px;
}

#footer{
    float: left;
    clear: left;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
        #buscar{
            display: none;
        }
}
@media only screen and (min-width: 1025px) {
    #registro, #inicio, #separador, #footer{
        display: none;
    }
    #header{
        border-bottom: 1px solid lightgray;
    }
    #logo{
        content: url("../img/logo2.png");
    }
    #buscar{
        text-align: center;
        border: 1px solid lightgray;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    #buscar span{
        color: lightgray;
    }
    #buscar img{
        width: 15px;
        height: 15px;
        opacity: 50%;
    }

    #fotoRosalia{
        padding-top: 60px;
        width: 30%;
        float: left;
    }

    #usuario{
        float: left;
        width: 20%;
        clear: both;
        
    }

    #iconos,#gusta,#fecha{
        clear: none;
        width: 100%;
        clear: left;
    }
    
    #interaccion{
        padding: 10px;
        margin-top: 33.8%;
        float: left;
        border: 1px solid lightgray;
        width: 25%;
    }
}