body {
    font-family: pixel;
    font-size: large;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-image: url(../img/mapa.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    overflow: hidden;
    color:#deff72;
}

@font-face {
    font-family: "pixel";
    src: url('../fonts/VT323-Regular.ttf')
}

input, select, .boton1, .volver, .salto {
    margin: 10px;
    padding: 10px;
}

.header{
    background-image: url("../img/header.png");
    background-size: 100% 100%;
    width: 110%;
    height: 40px;
    text-align: center;
    color: #8be363;
}
.header h2{
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.content{
    background-image: url("../img/content.png");
    background-size: 100% 100%;
    width: max-content;
    padding: 10px;
    margin-left: 5%;
}


.footer{
    background-image: url("../img/footer.png");
    background-size: 100% 100%;
    width: 110%;
    height: 30px;
}

.boton1{
    background-image: url("../img/boton.png");
}
.volver{
    background-image: url("../img/boton2.png");
    color: red;
}

.salto{
    background-image: url("../img/boton3.png");
    color: red;
}

.boton1, .volver, .salto{
    background-size: 100% 100%;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton1:active, .volver:active, .salto:active{
    opacity: 0.5;
    color: chocolate;
}

.boton1:hover, .volver:hover, .salto:hover{
    cursor: grab;
}

.volver-container{
    display: flex;
    flex-direction: row-reverse;
}

#recursos{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#botones{
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 10;
}

#botones .content{
    display: flex;
}
#motor{
    left:30%;
    position: fixed;
    bottom: 0;
 }

#motor .content{
    display: flex;
    align-items: center;
 }

 #ubicacion-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
 }
#shield-interface,#propulsor-interface,#arma-interface,#motor-salto-interface{
    position: fixed;
    top: 25%;
    right: -30%;
    transition: 1s;
    transform: scale(1,0);
    opacity: 0;
    width: fit-content;
}


#shield-interface,#propulsor-interface,#arma-interface,#motor-salto-interface,#motor{
    z-index: 10;
}

#modalCombate, #modalRecursos{
    transition: 1s;
    z-index: 10;
}

#modalRecursos{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 32%;
    top: 30%;
    
}
#modalCombate{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 41%;
    top: 40%;
}
.invisible{
    transform: scale(0,0);
    opacity: 0;
}
.visible{
    transform: scale(1,1);
    opacity: 1;
}

.recursos{
    opacity: 0;
}

#recursos:hover .recursos{
    opacity: 1;
}

#amarillo{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.amarillo{
    animation: avisar 2s 1;
}

#rojo{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
.rojo{
    animation: avisar 2s 1;
}


#proyector{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
}

@keyframes avisar {
    25%{opacity: 0.35;}
    50%{opacity: 0;}
    100%{opacity: 0.35;}
}

#ubi1{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../img/marte.png);
    position: absolute;
    width: 40%;
    height: 100%;
    transition: 0.5s;
}

#ubi2{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../img/fobos.png);
    position: absolute;
    width: 25%;
    height: 28%;
    bottom: 0;
    left: 22%;
    transition: 0.5s;
}

#ubi3{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../img/deimos.png);
    position: absolute;
    width: 10%;
    height: 10%;
    top: 20%;
    right: 10%;
    transition: 0.5s;
}

#ubi4{
    display: none;
}

#ubi1:hover{
    transform: scale(1.1);
}
#ubi2:hover{
    transform: scale(1.1);
}
#ubi3:hover{
    transform: scale(1.1);
}

#ubi1-panel,#ubi2-panel,#ubi3-panel{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#ubi1-panel{
    background-image: url(../img/panelmarte.png);
    width: 100%;
    height: 40%;
    top: 20%;
    left: 45%;
    z-index: 9;
    transition: 1s;
    transform-origin: left;
    transform: scale(1,0);
    opacity:0;
}

#ubi2-panel{
    background-image: url(../img/panelfobos.png);
    width: 100%;
    height: 40%;
    top: 10%;
    left: 70%;
    z-index: 9;
    transition: 1s;
    transform-origin: left;
    transform: scale(1,0);
    opacity:0;
}

#ubi3-panel{
    background-image: url(../img/paneldeimos.png);
    width: 200%;
    height: 200%;
    top: 20%;
    right: 70%;
    z-index: 9;
    transition: 1s;
    transform-origin: left;
    transform: scale(1,0);
    opacity:0;
}

.mostrarmenu{
    animation: mostrarmenuani 1s 1;
    animation-fill-mode: forwards;
}

.ocultarmenu{
    animation: ocultarmenuani 1s 1;
    animation-fill-mode: forwards;
}

@keyframes mostrarmenuani {
    100%{transform: scale(1,1); right: 5%; opacity: 1;}
}

@keyframes ocultarmenuani {
    0%{transform: scale(1,1); right: 5%; opacity: 1;}
    100%{transform: scale(1,0); right: 30%; opacity: 0;}
}

.corregirflex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

progress {
    -webkit-appearance: none;
}

.rojobarra::-webkit-progress-value{
    background-color: red;
}
.amarillobarra::-webkit-progress-value {
    background-color: yellow;
}
.azulbarra::-webkit-progress-value {
    background-color: aquamarine;
}

