*{
    font-family: 'indie-flower';
    background-color: #FDFFA9;
    text-align: center;
}
p{
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
@font-face {
    font-family: "indie-flower";
    src: url('../font/IndieFlower-Regular.ttf')
}
.nombre{
    font-size: 35px;
    margin-top: 40px;
}
#usuarioFoto{
    width: 35%;
    margin-top: 40px;
    text-align: center;
}
h2{
    color:#FF5C00;
    margin-left: 10%;
    margin-right: 10%;
}
#correoico{
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#telefonoico{
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.linea{
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
    width: 100%;
}