*{
    font-family: 'indie-flower';
    background-color: #FDFFA9;
    font-size: 25px;
    margin: 0px;
}
p{  
    margin-left: 15px;
    margin-right: 15px;
}
@font-face {
    font-family: "indie-flower";
    src: url('../font/IndieFlower-Regular.ttf')
}
#usuarioFoto{
    width: 35%;
    margin-top: 40px;
    text-align: center;
}
h2{
    color:#FF5C00;
    margin-left: 10%;
    margin-right: 10%;
}
#correoico, #telefonoico, .punto{
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.linea, .linea2{
    margin-left: 15px;
    margin-right: 25px;
    height: 30px;
    width: 95%;
    display: none;
}

#telefono, #correo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.lista{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#posit{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

body{
    position: absolute;
}

@media only screen and (max-width: 600px) {
    *{
        text-align: center;
    }
    .linea{
        display: block;
    }
    .ajustar{
        margin-left: 5px;
        margin-right: 5px;
    }
  }

@media only screen and (min-width: 1025px) {
    #usuarioFoto{
        width: 7%;
        margin-top: 40px;
        text-align: center;
    }
    .horizontal{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: top;
        margin-left: 15px;
    }
    .vertical{
        display: column;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
    .vertical2{
        display: column;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-right: 15px;
    }
    h2{
        margin: 0;
    }
    #cabecera{
        align-items: end;
        justify-content: space-between;
    }
    .linea2{
        margin-left: 10%;
        margin-right: 5px;
        height: 30px;
        width: 100%;
        display: block;
    }
    .ajustar{
        margin-left: 15%;
    }
    body{
        overflow: hidden;
        height:100%;
    }
}