body{
    margin: 0;
}
.carta{
    width: 300px;
}

.seleccionada{
    transform: rotateY(180deg);
}

.lilianaani{
    
}
.emrakulani{
    
}

.decimodoctorani{
    
}

.counterspellani{

}

.montananevadaani{

}
.iraani{

}



.trasera{
    margin: 0 auto;
    width: 300px;
    height: 419px;
    background: url("mtg.jpg");
    background-size: contain;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
}

#juego{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


@keyframes liliana {
    100%{
        background:url("liliana.png"); transform: rotateY(180deg);
    }
}