#botella{
    position: absolute;
    width: 400px;
    left: 300px;
    top: 600px;
}

#liquido{
    position: absolute;
    width: 330px;
    left: 335px;
    top: 855px;
    transform: scale(0,0);
    animation: subiendo 15s 1;
    animation-fill-mode: forwards;
    transform-origin: bottom;
}

#chorro{
    position: absolute;
    width: 20px;
    height: 750px;
    left: 510px;
    top: 360px;
    background-color: red;
    border-radius: 25%;
    transform-origin: top;
    transform: scale(0,0);
    animation: caerchorro 15s 1;
}

#recipiente{
    position: absolute;
    top: 100px;
    left: 590px;
    animation: girarbote 15s 1;
}
@keyframes caerchorro {
    5%{transform: scale(0,0.2);}
    10%{transform: scale(1,1);}
    85%{transform: scale(1,1);}
    100%{transform-origin: bottom;}
}
@keyframes girarbote{
    5%{transform: rotateZ(-120deg);}
    85%{transform: rotateZ(-120deg);}
}
@keyframes subiendo {
    8%{top: 855px; transform: scale(0,0);}
    15%{top: 855px; transform: scale(0.5,0.05);}
    45%{top: 850px; transform: scale(0.9,0.4);}
    100%{top: 855px;transform: scale(1,1);}
}