body{
   background-image: url("agua.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

#gota{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    border: solid 1px aquamarine;
    border-radius: 100%;
    animation: goteo 4s infinite;
}

@keyframes goteo {
    0%{scale: 0.1;}
    50%{opacity: 1;}
    100%{scale: 50; opacity: 0;}
}